body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}
h1 {
  color: 000;
}
h2 {
  text-align: center;
  font-size: 18px;
  margin: 0;
}
hr {
  margin-top: 4px;
  margin-bottom: 6px;
}
#currentTime,
#description {
  font-size: 16px;
}
.description {
  text-transform: capitalize;
}

.search-button {
  display: inline-block;
  background-color: #de5b7b;
  border: solid 1px #393e46;
  border-radius: 5px;
  margin-top: 5px;
}
.current-button {
  display: inline-block;
  background-color: #ff8f93;
  border: solid 1px #393e46;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
}
#humidity,
#wind {
  font-size: 12px;
}
.weather-forecast-temp-min {
  text-decoration: none;
  font-weight: 400;
  color: black;
  opacity: 0.8;
}
.weather-forecast-temp-max {
  text-decoration: none;
  font-weight: 500;
  color: black;
}
.weather-app {
  background-color: #ffcbcb;
  margin-top: 15px;
  border: solid 1px #c7a2a3;
  border-radius: 2px;
  box-shadow: 7px 5px 5px #c7a2a3;
  padding: 20px 20px 30px 20px;
  max-width: 652px;
}

#celsius-link,
#fahrenheit-link {
  text-decoration: none;
}
.weather-app .active {
  color: rgb(33, 33, 33);
  font-weight: bold;
  cursor: default;
}
.weather-app .active:hover {
  color: rgb(33, 33, 33);
  cursor: default;
}

.top-weather-icon {
  width: 70px;
  margin: 20px 0;
}
.top-temperature {
  font-size: 40px;
}
.weather-forecast-date {
  text-align: center;
  margin: 0 auto;
  opacity: 0.8;
}
.below-weather-icon {
  width: 60px;
  display: block;
  margin: 0 auto;
}
.temperature {
  text-align: center;
  margin-top: 7px;
  font-size: 16px;
}
.left-page {
  padding: 0;
  font-size: 13px;
}
li {
  list-style: none;
}
footer {
  text-align: center;
  margin-top: 30px;
  max-width: 652px;
}
