body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}
h1 {
  color: 000;
}
h2 {
  text-align: center;
  font-size: 18px;
  margin: 0;
  opacity: 0.8;
}
hr {
  margin-top: 4px;
  margin-bottom: 6px;
}
#currentTime,
#description {
  font-size: 16px;
}
.description {
  text-transform: capitalize;
}
#city-input {
  width: 260px;
  height: 37px;
}

.search-button {
  display: inline-block;
  color: white;
  background-color: #2b6d6e;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  margin-left: 2px;
  margin-top: 5px;
}
.current-button {
  display: inline-block;
  color: white;
  background-color: #de5b7b;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 20px;
}
#humidity,
#wind {
  font-size: 12px;
}
.weather-forecast {
  margin-top: 20px;
}
.weather-forecast-temp-min {
  text-decoration: none;
  font-weight: 400;
  color: black;
  opacity: 0.6;
}
.weather-forecast-temp-max {
  text-decoration: none;
  font-weight: 500;
  color: black;
}
.weather-app {
  background-color: #b5e7e8;
  margin: 15px auto;
  border: solid 1px #2b6d6e;
  border-radius: 8px;
  box-shadow: 7px 5px 5px #2b6d6e;
  padding: 20px 20px 30px 20px;
  max-width: 652px;
}

#celsius-link,
#fahrenheit-link {
  text-decoration: none;
}
.weather-app .active {
  color: rgb(33, 33, 33);
  font-weight: bold;
  cursor: default;
}
.weather-app .active:hover {
  color: rgb(33, 33, 33);
  cursor: default;
}

.top-weather-icon {
  width: 100px;
  margin: 20px 0;
}
.top-temperature {
  font-size: 50px;
  font-weight: 600;
}
.weather-forecast-date {
  text-align: center;
  margin: 0 auto;
  opacity: 0.8;
}
.below-weather-icon {
  width: 60px;
  display: block;
  margin: 0 auto;
}
.temperature {
  text-align: center;
  margin-top: 7px;
  font-size: 16px;
}
.left-page {
  padding: 0;
  font-size: 13px;
}
.col-2 {
  margin-top: 10px;
  padding: 8px;
}
li {
  list-style: none;
}
footer {
  text-align: center;
  margin: 30px auto;
  max-width: 652px;
}
